<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Staff Schedule Table</title>
  <style>
    /* Установка стилей для бело-серой таблицы */
    table {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
    }

    th {
      background-color: #f2f2f2;
      text-align: left;
      padding: 8px;
    }

    td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
    }
  </style>
</head>
<body>
<h1>Staff Schedule Table</h1>
<table>
  <thead>
  <tr>
    <th>Position ID</th>
    <th>Librarian ID</th>
    <th>Work Days</th>
    <th>Timetable</th>
    <th>Department</th>
    <th>Kabinet</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>Monday - Friday</td>
    <td>9:00 AM - 5:00 PM</td>
    <td>Reference</td>
    <td>Room 1</td>
  </tr>
  <tr>
    <td>2</td>
    <td>2</td>
    <td>Tuesday - Saturday</td>
    <td>10:00 AM - 6:00 PM</td>
    <td>Circulation</td>
    <td>Room 2</td>
  </tr>
  <tr>
    <td>3</td>
    <td>3</td>
    <td>Monday - Friday</td>
    <td>8:00 AM - 4:00 PM</td>
    <td>Children</td>
    <td>Room 3</td>
  </tr>
  <tr>
    <td>4</td>
    <td>4</td>
    <td>Wednesday - Sunday</td>
    <td>11:00 AM - 7:00 PM</td>
    <td>Technical Services</td>
    <td>Room 4</td>
  </tr>
  <tr>
    <td>5</td>
    <td>5</td>
    <td>Thursday - Monday</td>
    <td>12:00 PM - 8:00 PM</td>
    <td>Administration</td>
    <td>Room 5</td>
  </tr>
  </tbody>
</table>
<br><a href="/hello">Главное меню</a>
</body>
</html>